*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f7fb;
    font-family:sans-serif;
}

header{
    background:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#2f6fff;
}

nav a{
    margin-left:15px;
    text-decoration:none;
    color:black;
}

.hero{
    height:400px;
    background:url("banner.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.product-container{
    display:flex;
    flex-direction:column;
    gap:15px;
    align-items:center;
}

.product-card{
    width:90%;
    max-width:700px;
    background:white;
    padding:15px;
    border-radius:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.product-card img{
    width:90px;
    height:130px;
    object-fit:cover;
    border-radius:10px;
}

.analysis-box, .result-box{
    width:90%;
    max-width:600px;
    margin:60px auto;
    background:white;
    padding:25px;
    border-radius:15px;
}

.check-group{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:10px;
}

textarea{
    width:100%;
    height:100px;
    margin-top:10px;
}

.analysis-btn{
    width:100%;
    padding:15px;
    background:#2f6fff;
    color:white;
    border:none;
    margin-top:10px;
}

.post{
    display:flex;
    gap:10px;
    background:white;
    padding:10px;
    margin-top:10px;
    border-radius:10px;
}
.result-box img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

nav a.nav-btn{
    padding:8px 14px;
    border-radius:8px;
    border:1px solid #ddd;
    text-decoration:none;
    color:black;
    margin-left:8px;
    display:inline-block;
}

nav a.signup-btn{
    background:#2f6fff;
    color:white;
    border:none;
}

.post img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:10px;
}
